.Container {
  background: #f7f7f7;
  border-radius: 6px;
  padding: 14px 16px;
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
}

.Label {
  flex: 1;
  font-weight: 500;
}

.Icon {
  margin-right: 15px;
}
