.Container {
  display: flex;
  flex-direction: column;
}

.Title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
}

.Empty {
  color: #7d838b;
  font-size: 13px;
  font-weight: 400;
}
